html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.hidden {
  visibility: hidden;
}

#title {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  font-size: 4em;
  color: #2b3b96;
}

#sandwitch {
  border: 1px solid #ad3434;
  width: 201px;
  height: 64px;
  position: absolute;
  left: 5%;
  cursor: pointer;
  font-size: 2.8em;
  text-align: center;
  color: #ef9494;
}

#sandwitches {
  width: 100%;
  height: 20%;
  border: 1px solid;
  position: absolute;
  top: 200px;
}

#sandwitch:hover {
  border: 1px dotted;
}


/***********/
/* helpers */
/***********/
.font-indie-flower {
  font-family: 'Indie Flower', cursive;
}

.font-pacifico {
  font-family: 'Pacifico', cursive;
}

.font-gloria-hallelujah {
  font-family: 'Gloria Hallelujah', cursive;
}

.font-source-code {
  font-family: 'Source Code Pro', monospace;
}

.txt-center {
  text-align: center;
}

.em4 {
  font-size: 4em;
}